langchain==0.0.267
streamlit
streamlit-chat
sentence-transformers
pydantic
chromadb
transformers
torch
einops
bitsandbytes
accelerate
pdfminer.six
bs4
sentence_transformers
duckdb
beautifulsoup4
sentencepiece
six
requests
uvicorn
torch
torchvision
